/annotated_types-0.7.0.dist-info
/pydantic-2.10.6.dist-info
/pydantic
/pydantic_core-2.27.2.dist-info
/pydantic_core
/typing_extensions-4.12.2.dist-info
/annotated_types
.ipynb_checkpoints/build_with_Llama_3_2-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
/.ipynb_checkpoints
/.vs
Eviewsprg.pkl
EviewsInfo.pkl
